body
{
    font-size: 100%;
}
ul.nav
{
    display: block;
    float: top;
    max-width: 60rem;
    max-width: 18rem;
    list-style: none;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
}
a.nav
{
    font-size: 2rem;
    font-family: serif;
    color: black;
    text-decoration: none;
    padding: 1rem;
}
a.now
{
    border-bottom: 2px solid black;
}
a.nav:hover
{
    border-bottom: 2px solid black;
}
li.nav
{
    float: left;
}
p.content
{
    max-width: 30rem;
    font-family: serif;
    margin-left: auto;
    margin-right: auto;
}
a.jiecao_link
{
    text-decoration: none;
    color: black;
}
a.jiecao_link:hover
{
    border-bottom: 1px solid black;
}