body
{
    background-color : grey;
    background-image : url("https://wx3.sinaimg.cn/large/87efcdd5ly1flmlssrqt0j21kw29p7qo.jpg");
    background-position : left top;
    background-repeat : no-repeat;
    background-size : 100%;
}