body
{
    background-color: #012456;
    color: #eeedf0;
    font-family: sans-serif;
}
a:link, a:visited, a:hover, a:active
{
    text-decoration: none;
    color: #eeedf0;
}
.code
{
    font-family: monospace;
}
