body
{
    font-size: 100%;
}
a.button
{
    padding:1rem;
    font-size: 3rem;
    text-decoration: none;
    color: black;
    font-family: serif;
}
a.button:hover
{
    border-bottom: 2px solid black;
}
div
{
    //display: none;
    font-size: 3rem;
    text-align: center;
    max-width: 21rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
}