body
{
    font-size: 100%;
}
ul.nav
{
    list-style: none;
    height: 4rem;
}
a.nav
{
    font-size: 2rem;
    font-family: serif;
    color: black;
    text-decoration: none;
    padding: 1rem;
}
a.nav:hover
{
    border-bottom: 2px solid black;
}
li.nav
{
    float: left;
}
p.content
{
    font-family: serif;
    margin-left: 3rem;
}